.previrew_info_excel {
    .previrew_excel {
        .id_not_show {
            position: relative;
            top: calc(50% - 1rem);

            font-size: 20px;
            text-align: center;
            opacity: 0.7;
        }

        table {
            width: calc(100% + 0px);

            tbody {
                position: relative;

                tr {
                    td {
                        border: 0.5px solid rgba(0, 0, 0, 0.4);
                        box-sizing: border-box;
                        padding: 5px 3px;
                        min-width: 80px;
                        min-height: 45px;
                        position: relative;
                        font-size: 13px;
                        text-align: center;

                        &:hover {
                            cursor: cell;
                            box-shadow: -0px -0px 0px 1px rgba(31, 187, 125) inset;
                        }
                    }
                    th {
                        border-right: 0.5px solid rgba(0, 0, 0, 0.4);
                        background-color: rgb(245, 247, 249);
                        font-size: 14px;
                    }

                    & > td:first-child {
                        min-width: 40px;
                        width: 45px;
                        border-left: none;
                        background-color: rgb(245, 247, 249);

                        &:hover {
                            cursor: default;
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }
}
