//porpper
.sheet_info_all_list {
    .sheet_info_all_list_info {
        max-height: calc(80vh);
        overflow: auto;
        padding: 15px 0 15px 8px;
        width: 100%;

        .sheet_info_all_list_item {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 3px 10px;
            border-radius: 3px;
            margin-bottom: 1px;
            font-size: 14px;

            cursor: pointer;

            &:hover {
                background-color: rgba(245, 247, 249, 1);
            }
        }

        .sheet_item_tac {
            background-color: rgba(255, 255, 255, 1);
            color: rgba(31, 199, 192, 1);
        }
    }
}

.previrew_info_excel {
    position: relative;
    height: calc(100% - 27px);
    margin-top: 0px;
    width: 100%;
    box-shadow: var(--el-box-shadow);

    .previrew_excel {
        height: 100%;
        overflow: overlay;
        background-color: rgba(64, 158, 255, 0.01);
    }

    .previrew_excel_sheet {
        position: absolute;
        bottom: calc(-27px - 1px);
        left: 0;

        display: flex;
        height: 27px;
        width: 100%;
        background-color: rgba(245, 247, 249, 1);

        div {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .sheet_event_icon {
            margin-left: auto;
            height: 100%;

            .sheet_info_is_green {
                height: 100%;
                padding: 0 8px;
                margin-left: auto;
                border-radius: 3px;
                margin-right: 1px;
                cursor: pointer;
                transition: all 0.1s;

                &:hover {
                    transition: all 0.1s;
                    background-color: rgba(226, 227, 230, 1);
                }
            }

            .sheet_info_is_all {
                background-color: rgba(226, 227, 230, 0.51);
                color: rgba(31, 199, 192, 1);
            }

            .sheet_info_is_green_tac {
                color: rgba(31, 199, 192, 1);
                background-color: rgba(226, 227, 230, 1);
            }
        }

        .sheet_info_icon {
            @extend .sheet_event_icon;
            margin-left: 0;
            background-color: rgb(245, 247, 249);

            & > div {
                height: 100%;
                padding: 0 5px;

                @extend .sheet_info_is_green;
            }

            .is_not_scroll {
                opacity: 0.4;
                cursor: no-drop;
            }
        }

        .sheet_info_tab {
            width: calc(100% - 125px);
            overflow-y: hidden;
            height: 100%;

            justify-content: normal;

            &::-webkit-scrollbar {
                height: 3px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #0000003a;
                height: 3px;
            }

            .sheet_item {
                height: 100%;
                padding: 0px 12px;

                cursor: pointer;
                font-size: 13px;
                transition: all 0.1s;
                background-color: rgba(226, 227, 230, 1);

                white-space: nowrap;

                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    transition: all 0.1s;
                    background-color: rgba(244, 244, 247, 1);
                }

                margin-right: 1px;
            }

            @media screen and (max-width: 1600px) {
                .sheet_item {
                    padding-bottom: 1px;
                }
            }

            .sheet_item_tac {
                background-color: rgba(255, 255, 255, 1);
                color: rgba(31, 199, 192, 1);
            }
        }

        .sheet_info_tab:hover {
            &::-webkit-scrollbar-thumb {
                background-color: #00000067;
                height: 3px;
            }
        }
    }
}
